Source: libcariad-font-display7segshadow
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-font-display7segshadow
Replaces: libdisplaycore-font-display7segshadow
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Fonts
Depends: libcariad-core
Provides: Display7SegShadow.h
Description: 7 Segment Display with Shadow digits
